.photo{
    transform: rotate(5deg)

}
.photo:hover{
   
    transform: rotate(0deg);
    border: 5px solid blue;
    border-radius: 20px;
    
}
.backgroundImg{
    background-image: url('https://i.ibb.co/7SQsFCJ/Black-Gradient-You-Are-Worthy-Quote-Desktop-Wallpaper.png');
    background-size: cover;
    background-repeat: no-repeat;
    

}